.formulario {
  background-color: rgb(255 127 242 / 20%);
  padding: 20px;
  border-radius: 5px;
}

.principal {
  background-color: rgb(255 127 242 / 20%);
  /*padding: 20px;
    border-radius: 5px;*/
}

.ajuste {
  width: -webkit-fill-available;

}

.ajusteprod {

  width: 300px;
  margin: 10px;
  border: solid 2px black;
}

.texto3d {
  text-align: left;
  font-family: Arial Black;
  font-weight: bold;
  font-size: 30px;
  color: #fff;
  text-shadow: 0 1px 0 #ddd, 0 2px 0 #ccc, 0 3px 0 #bbb, 0 4px 0 #aaa, 0 5px 0 #acacac, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.15);
}


.textorelieveprincipal {
  text-align: left;
  font-family: system-ui;
  font-weight: bold;
  font-size: 60px;
  background: #202020;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
  text-shadow: 0px 3px 3px rgba(255, 255, 255, 0.4), 0px -1px 1px rgba(0, 0, 0, 0.3);
}


.textorelievesecundaria {
  text-align: left;
  font-family: system-ui;
  font-weight: bold;
  font-size: 30px;
  background: #202020;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
  text-shadow: 0px 3px 3px rgba(255, 255, 255, 0.4), 0px -1px 1px rgba(0, 0, 0, 0.3);
}

.textorelieveparrafo {
  text-align: right;
  font-family: system-ui;
  font-size: 27px;
  background: #202020;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
  text-shadow: 0px 3px 3px rgba(255, 255, 255, 0.4), 0px -1px 1px rgba(0, 0, 0, 0.3);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*p {
      margin: 1em;
  }*/
  .posicion {
   position: absolute;
  }

.cols {
  height: 300px;
}

.col1 {
  background-color: rgba(255, 0, 140, 0.151);
  width: 50%;
  margin-top: 40px;
}


.col2 {
  /*background-color: rgb(235, 135, 218);*/
  width: 49%;
  margin-top: 40px;
}

.col1,
.col2 {
  display: inline-block;
  /*height: 100%;*/
}



* {
  margin: 0;
  padding: 0;
}

header {
  font-family: Helvetica;
  /*width: 480px;*/
  margin: 0 auto;
}

ul {
  list-style: none;
}

#menu li>a {
  background-color: grey;
  color: white;
  padding: 10px;
  display: block;
  text-decoration: none;
  min-width: 100px;
}

#menu li>a:hover {
  color: #000;
  background-color: #eaeaea;
}

#menu>li {
  float: left;
  text-align: center
}

#menu>li>ul {
  display: none;
}

#menu>li:hover>ul {
  display: block;
}