.formulario {
  background-color: rgb(255 127 242 / 20%);
   /*padding: 20px;
  border-radius: 5px;
  position: absolute;
  margin-bottom: 20px;  */
  position: absolute;
  height: 450px;
 
}

.foter {
  margin-left: 50%;
  margin-top: 250px;
}

.principal {
  background-color: rgb(255 127 242 / 20%);
  /*padding: 20px;
    border-radius: 5px;*/
}

.ajuste {
  width: -webkit-fill-available;
  

}

.ajusteprod {

  width: 20%;
  margin: 10px;
  border: solid 2px black;
}

.texto3d {
  text-align: left;
  font-family: Arial Black;
  font-weight: bold;
  font-size: 30px;
  color: #fff;
  text-shadow: 0 1px 0 #ddd, 0 2px 0 #ccc, 0 3px 0 #bbb, 0 4px 0 #aaa, 0 5px 0 #acacac, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.15);
}


.textorelieveprincipal {
  text-align: left;
  font-family: system-ui;
  font-weight: bold;
  font-size: 60px;
  background: #202020;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
  text-shadow: 0px 3px 3px rgba(255, 255, 255, 0.4), 0px -1px 1px rgba(0, 0, 0, 0.3);
}


.textorelievesecundaria {
  text-align: left;
  font-family: system-ui;
  font-weight: bold;
  font-size: 30px;
  background: #202020;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
  text-shadow: 0px 3px 3px rgba(255, 255, 255, 0.4), 0px -1px 1px rgba(0, 0, 0, 0.3);
}

.textorelieveparrafo {
  text-align: right;
  font-family: system-ui;
  font-size: 27px;
  background: #202020;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
  text-shadow: 0px 3px 3px rgba(255, 255, 255, 0.4), 0px -1px 1px rgba(0, 0, 0, 0.3);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*p {
      margin: 1em;
  }*/
  .posicion {
   position: absolute;
  }

.cols {
  height: 300px;
}

.col1 {
  background-color: rgba(255, 0, 140, 0.151);
  width: 50%;
  margin-top: 40px;
}


.col2 {
  /*background-color: rgb(235, 135, 218);*/
  width: 49%;
  margin-top: 40px;
}

.col1,
.col2 {
  display: inline-block;
  /*height: 100%;*/
}



* {
  margin: 0;
  padding: 0;
}
/*
header {
  font-family: Helvetica;
  /*width: 480px;
  margin: 0 auto;
}

ul {
  list-style: none;
}

#menu li>a {
  background-color: grey;
  color: white;
  padding: 10px;
  display: block;
  text-decoration: none;
  min-width: 100px;
}

#menu li>a:hover {
  color: #000;
  background-color: #eaeaea;
}

#menu>li {
  float: left;
  text-align: center
}

#menu>li>ul {
  display: none;
}

#menu>li:hover>ul {
  display: block;
}
*/
.slider-container {
  display: flex;
  width: 100%;
  height: 100vh;
  overflow-x: scroll;

  /* Vamos a añadir esto 👇 */
  scroll-snap-type:mandatory;
}

.slider-container img {
  flex: 0 0 100%;
  width: 100%;
  object-fit: cover;

  /* Vamos a añadir esto 👇 */
  scroll-snap-align: center;
}
@keyframes slide {
	0% { transform: translateX(0); }
	10% { transform: translateX(0); }

	15% { transform: translateX(-100%); }
	30% { transform: translateX(-100%); }

	35% { transform: translateX(-200%); }
	50% { transform: translateX(-200%); }

	55% { transform: translateX(-300%); }
	70% { transform: translateX(-300%); }

	75% { transform: translateX(-400%); }
	90% { transform: translateX(-400%); }

	95% { transform: translateX(-500%); }
	100% { transform: translateX(-500%); }
}

* { box-sizing: border-box; }

html { scroll-behavior: smooth; }

body {
	font-family: sans-serif;
}

.wrapper {
	max-width: 1200px;
	margin: 0 auto;
}

.slider {
	position: relative;
}

.slides {
	position: relative;
	display: flex;
	overflow: hidden;
}

.slide {
	width: 100vw;
	flex-shrink: 0;
	animation-name: slide;
	animation-duration: 20s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

.slides:hover .slide {
	animation-play-state: paused;
}

.slide img {
	width: 100%;
	vertical-align: top;
}

.slide a {
	width: 100%;
	display: inline-block;
	position: relative;
}

.caption {
  margin-top: 25px;
  color: black;
  text-shadow: 1px 1px white;
  font-size: 20px;
  position: initial;
  bottom: 20px;
  right: 20px;
  margin-left: 30px;
}

.slide:target {
	animation-name: none;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 50;
}

.slider-controler {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	text-align: center;
	padding: 5px;
	background-color: rgba(0,0,0,0.5);
	z-index: 100;
}

.slider-controler li {
	margin: 0 0.5rem;
	display: inline-block;
	vertical-align: top;
}

.slider-controler a {
	display: inline-block;
	vertical-align: top;
	text-decoration: none;
	color: white;
	font-size: 1.5rem;
}

@media only screen and (width: -webkit-fill-available) {
	.slide {
		/*width: 1200px;*/
    width: -webkit-fill-available;
	}

	.caption1 {
		font-size: 20px;
		bottom: 96px;
		right: 50px;
    font-style: italic;
	}
}
.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#25d366;*/
	color:#FFF;
	border-radius:50px;
	text-align:center;
  font-size:30px;
	box-shadow: 2px 2px 3px #999;
  z-index:100;
  /*background-image:url("https://assets.stickpng.com/images/580b57fcd9996e24bc43c543.png");*/

}
.float:hover {
	text-decoration: none;
	color: #25d366;
  background-color:#fff;
}

.my-float{
	margin-top:16px;
}

/*HEADER*/

header {
  background: rgba(0, 0, 0, 0.336);
  width: 100%;
  height: 300px;
  position: fixed;
  z-index: 100;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

nav {
  float: right;
}

nav ul {
  list-style: none;
  overflow: hidden; 
}

nav ul li {
  float: left;
  font-family: Arial, sans-serif;
  font-size: 30px;
}
nav ul li a {
  display: block;
  padding: 30px;
  color: #fff;
  text-decoration: none;
}
nav ul li:hover {
  background: rgba(224, 151, 218, 0.836);
}